@import url('https://fonts.googleapis.com/css?family=Karla:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: 'Karla', Helvetica, sans-serif;
    font-size: 1em;
    background-color: #fff;
}

main {
    max-width: 80vw;
    min-height: 100vh;
    padding: 2em 2em 1em 2em;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.2);
}

h1{
    font-size: 3.8em;
    text-align: left;
    line-height: 1;
    color: #DC143C;
}

p {
    font-size: 1.5em;
    text-align: left;
    padding-bottom: 1rem;
    padding-top: 1.2rem;
}

a {
    text-decoration: none;
    
}

a:visited {
    color: #808080;
}

a:link {
    color: #DC143C;
}

a:hover {
    color: black;
}

.steps {
    position: relative;
    margin: 0 auto;
    max-width: 65%;
    padding: 1rem;
}


label {
    display: block;
    font-size: 1.7em;
    padding-bottom: 0.8rem;
    font-weight: 700;
    color: #DC143C;
}

.option > label, .checkbox > label {
    font-weight: 400;
    color: black;
}

.choices {
    list-style: none;
    padding-top: 1em;
}

.dropdown {
    margin-top: 1em;
    padding: 0.5em;
    width: 100%;
    height: 3em;
    outline: none;
    background-color: white;
    border: 2px solid #808080;
    border-radius: 5px;
    font-family: 'Karla';
    font-size: 1em;
}

input[type=text], input[type=number], input[type=email] {
    height: 3rem;
    width: 100%;
    font-size: 1.1em;
    text-indent: 0.5rem;
    border-radius: 5px;
    outline: none;
    border: 2px solid #808080;
}

input::placeholder, textarea::placeholder {
    color: #C0C0C0;
}

textarea {
    height: 150px!important;
    width: 100%;
    font-family: 'Karla';
    font-size: 1.1em;
    border-radius: 5px;
    outline: none;
    border: 2px solid #808080;
    resize: none;
    padding: 1em;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield;
}

button, #submit {
    display: block;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 5px;
    padding: 0.8rem 2.5rem;
    font-family: 'Karla';
    font-size: 1.7em;
    color: black;
    background-color: white;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
}

#submit:hover {
    background-color: black;
    color: white;
}

.social {
    padding-top: 2.5rem;
    text-align: center;
    font-size: 1.5em;
}

.fab {
    padding: 0 0.4em;
}

footer {
    text-align: center;
    font-size: 0.9rem;
    padding: 1.2em 0;
}






/* * Para moviles en vertical */

@media (max-width: 319px) {
    main {
        min-width: 320px;
    }
}

@media (min-width: 320px) and (max-width: 480px) {

    main {
        max-width: 100vw;
    }
    .steps {
        max-width: 90%;
    }
}


/* * Para moviles en horizontal */

@media (min-width: 480px) and (max-width: 900px) {
    main {
        max-width: 100vw;
    }
    .steps {
        max-width: 85%;
    }
}


